<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="dc4d29fb-6357-4bdd-9096-35e8d95fbfac" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="dc4d29fb-6357-4bdd-9096-35e8d95fbfacfileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
